@use '../util' as u;

.button {
  display: inline-block;
  //   box-sizing: border-box;
  margin-inline-end: u.rem(20);
  font-size: u.rem(18);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  border-radius: u.rem(24);
  padding: u.rem(12) u.rem(16);
  text-transform: uppercase;
  transition-property: background-color, border, color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  &.primary {
    background-color: var(--button-primary-bg);
    border: u.rem(2) solid var(-button-primary-bg);
    color: var(--button-primary-text);
    &:hover {
      background-color: var(--button-primary-bg-hover);
      border-color: var(--button-primary-bg-hover);
    }
  }
  &.secondary {
    color: var(--button-secondary-bg);
    color: var(--button-secondary-text);
    border: 2px solid var(--button-secondary-border);
    &:hover {
      color: var(--button-secondary-text-hover);
      background-color: var(--button-secondary-bg-hover);
    }
  }
}
