:root {
  --moin-bg: hsl(0, 0%, 100%);
  --text-dark: hsl(233, 14%, 25%);
  --text-light: hsl(0, 0%, 100%);

  --header-bg: hsla(232, 58%, 55%, 1);
  --hero-bg: hsla(232, 58%, 55%, 1);
  --button-primary-bg: hsla(180, 100%, 42%, 1);
  --button-primary-bg-hover: hsla(180, 100%, 37%, 1);
  --button-primary-text: hsla(233, 14%, 25%, 1);
  --button-secondary-bg: transparent;
  --button-secondary-bg-hover: hsla(0, 0%, 100%, 1);

  --button-secondary-border: hsla(0, 0%, 100%, 1);
  --button-secondary-text: hsla(0, 0%, 100%, 1);
  --button-secondary-text-hover: var(--hero-bg);
  --fullwidth-bg: hsla(320, 85%, 41%, 1);
}

.green {
  // @extend #{$widget};
  // background-color: hsl(120, 100%, 27%);
  background-color: var(--moin-bg);
  background-color: black;
}

.magenta {
  background-color: hsl(300, 100%, 30%);
}
