:root {
  --background-color: hsl(0, 0%, 13%);
  --text-color: hsl(0, 0%, 100%);
}

.green {
  // @extend #{$widget};
  background-color: hsl(120, 100%, 27%);
}

.magenta {
  background-color: hsl(300, 100%, 30%);
}
