@use '../util' as u;

.form {
  &__label,
  &__text {
    font-size: u.rem(18);
    line-height: 1;
  }
  &__label {
    font-weight: 700;
  }

  &__text {
    border: none;
    border-radius: 5px;
    padding: u.rem(12) u.rem(20);

    &::placeholder {
      //background-color: red;
    }
  }
}
