@use '../util/' as u;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}
h1 {
  //font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem);
  font-size: u.rem(42);
  font-size: clamp(u.rem(42), 1.77rem + 3.649vw, u.rem(72));

  // @include u.breakpoint(medium){
  //   font-size: u.rem(42);
  // }

  // @include u.breakpoint(large){
  //   font-size: u.rem(72);
  // }
}

h2 {
  font-size: u.rem(16);
  font-size: clamp(u.rem(16), 1.91rem + 1.4545454545454546vw, u.rem(48));
}

h3 {
  font-size: u.rem(24);
}
p {
  margin-top: 0;
  // font-size: 1rem;
  font-size: u.rem(16);
}

a,
a:visited,
a:active {
  text-decoration: none;
}
