@use '../util' as u;

// %fullwidth {
//   color: var(--text-light);
//   text-align: center;
// }
.feature {
  //@include u.fullwidth;
  background-color: var(--fullwidth-bg);
  // color: var(--text-light);
  // text-align: center;
  //   text-align: center;
  //   @extend %fullwidth;

  &__wrapper {
    // height: 100px
    //text-align: center;
  }

  &__title {
  }

  &__description {
  }

  &__image {
    max-width: u.rem(792);
    margin-inline: auto;
  }
}
