@use '../util' as u;

// // .hero {
// //   --wave-height: clamp(
// //     1.3125rem,
// //     -0.36363636363636376rem + 7.151515151515151vw,
// //     5rem
// //   );
// //   background-color: var(--hero-bg);
// //   color: var(--text-light);
// //   padding-block-start: 40px;

// //   &__wave {
// //     //height: 1.3125rem;
// //     height: var(--wave-height);
// //   }
// //   // &__wrapper {
// //   // }

// //   &__content {
// //     display: grid;
// //     gap: 40px;
// //     margin-block-end: calc(60px + var(--wave-height));

// //     @include u.breakpoint(large) {
// //       grid-template-columns: 6fr 5fr;

// //       margin-block-end: 0;
// //     }
// //     // grid-column: 2;
// //     // grid-row: 3;
// //   }

// //   &__image {
// //     width: 61%;
// //     max-width: u.rem(483);
// //     justify-self: center;

// //     @include u.breakpoint(large) {
// //       width: 100%;
// //       order: 2;
// //       justify-self: end;
// //     }
// //   }
// //   &__text {
// //     // @include u.breakpoint(large) {
// //     //   // flex: 5;
// //     //   order: 1;
// //     // }
// //   }

// //   &__title {
// //     line-height: 1;
// //   }

// //   &__button {
// //     &:first-of-type {
// //       margin-inline-end: 20px;
// //     }
// //   }
// // }

// // .hero {
// //   background-color: var(--hero-bg);
// //   color: var(--text-light);

// //   &__content {
// //     display: grid;

// //     @include u.breakpoint(large) {
// //       //grid-template-columns: 6fr 5fr;
// //     }
// //   }
// //   &__image {
// //     width: 62%;
// //     max-width: u.rem(483);
// //     // width: u.rem(200);

// //     // @include u.breakpoint(large) {
// //     //   //     width: 100%;
// //     //   width: u.rem(483);
// //     // }
// //   }
// //   &__text {
// //   }
// //   &__title {
// //   }

// //   &__content {
// //   }
// //   &__button {
// //     &:first-of-type {
// //       margin-inline-end: 20px;
// //     }
// //   }
// // }

// .hero {
//   background-color: var(--hero-bg);
//   color: var(--text-light);

//   &__wrapper {
//     // display: flex;
//     // flex-direction: column;
//     // align-items: center;

//     // display: grid;
//     // grid-template-columns: 1fr;
//     // justify-items: center;
//     // align-items: center;

//     // padding-block: 30px 60px;
//     // gap: 40px;

//     // @include u.breakpoint(large) {
//     //   grid-template-columns: 6fr 5fr;
//     //   //flex-direction: row-reverse;
//     //   padding-block: 40px 80px;
//     //   gap: 10%;
//     // }
//   }

//   &__image {
//     width: 61%;
//     max-width: u.rem(483);
//     //margin-block-end: u.rem(40);

//     //align-self: center;
//     // width: u.rem(200);

//     @include u.breakpoint(large) {
//       //order: 2;

//       //align-self: end;
//       //flex: 5;
//       width: 100%;
//     }
//   }

//   &__text {
//     // @include u.breakpoint(large) {
//     //   //flex: 6;
//     // }

//     // order: 1;
//   }

//   //   padding-block-start: 40px;
// }

.hero {
  --wave-height: clamp(
    1.3125rem,
    -0.36363636363636376rem + 7.151515151515151vw,
    5rem
  );
  background-color: var(--hero-bg);
  color: var(--text-light);
  padding-block-start: 40px;

  &__content {
    display: grid;
    gap: 40px;
    margin-block-end: calc(60px + var(--wave-height));

    @include u.breakpoint(large) {
      grid-template-columns: 6fr 5fr;
      margin-block-end: 0;
    }
  }

  &__image {
    width: 61%;
    max-width: u.rem(483);
    justify-self: center;

    @include u.breakpoint(large) {
      width: 100%;
      order: 2;
      padding-block-start: 30px;
      justify-self: end;
    }
  }

  &__wave {
    height: var(--wave-height);
  }
}
